@use "var";
@use "mixin";

@font-face {
  font-family: "Nirmala";
  src: url("../fonts/NIRMALA.TTF") format("truetype");
}

@font-face {
  font-family: "Nirmala";
  src: url("../fonts/NIRMALAB.TTF") format("truetype");
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;

}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Nirmala";
  box-sizing: border-box;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: var.$darkBlue;

}

.data_wrapper {
  display: flex;
  flex-direction: row;
}



.map_section {
  background-color: rgb(0, 0, 22);
}
::placeholder {
color: var.$lowMed_opacity;
  font-weight: normal;

}

.tempFS { //h1
  font-size: 160px;
  text-shadow: var.$temp_TS;
  font-weight: bold;
  line-height: 160px;
  margin-bottom: 20px;
  box-shadow: 0 3 15px 3px;
  color: var.$high_opacity;
}

.cardFS {
  font-size: 30px;
  font-weight: bold;
  line-height: 37px;
  color: var.$medHigh_opacity;

}

.messageFS { //h2
  font-size: 4.5rem;
  // word-spacing: 100vw;
  margin-right: 30px;
  color: var.$full_opacity;
  font-weight: bold;
}


.citylocationFS { //h3
  font-size: 30px;
  font-weight: bold;
  line-height: 37px;
  color: var.$medHigh_opacity;
}
.titleFS { //h4
  color: var.$medHigh_opacity;
  font-weight: bold;
  font-size: 20px;
}

.dateFS--big {
  font-size: 35px;
  color: var.$medHigh_opacity;
  // line-height: 30px;
  font-weight: bold;
}
.dateFS { //h4
  color: var.$medHigh_opacity;
  font-weight: bold;
  font-size: 20px;
}



.textFS--bold{
  font-size: 17px;
  color: var.$medHigh_opacity;
  font-weight: bold;
}

.skinnyFS { //h4
  color: var.$medHigh_opacity;
  font-size: 23px;
  font-weight: regular;
}

.boldFS {
  font-size: 17px;
  color: var.$high_opacity;
  font-weight: bold;
}
.textFS { //p
  font-size: 13px;
  color: var.$medHigh_opacity
}



i {
  font-size: 13px;
  color: var.$medHigh_opacity;
}
// the size stays the same. 


//weather type
.medCloud {
  width: 130px;
  margin-top: 10px;
}

.iconSize {
  width: 30px;
}

.superSmallSize {
  width: 10px;
}
.medSize {
  width: 40px;
}

// scrollbar
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: rgba(253, 253, 253, 0.144);
}

::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}

.hourForecastList::-webkit-scrollbar {
  height: 9px;
}

