@use "var";
@use "mixin";
@use "message-section";
.card_section {
  background-color: #0e1544;
  min-width: 350px;
  display: flex;
  flex-direction: column;
}


.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  padding: 0 20px;
  margin: 10px;
  width: 280px;
  height: 80px;
  position: relative;
  transition: 1s all;
  &:hover {
    .delete {
      visibility: visible;
      &:hover {
        background-color: rgb(68, 68, 68);
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
      }
    }
  }
}

.delete {
  position: absolute;
  visibility: hidden;
  right: 8px;
  top: 8px;
  transition: 0.2s all;
}

.card_temp {
  text-align: center;
}

.addbutton  {
  cursor: pointer;
  transition: 0.3s all;

  &:hover {
    transform: scale(1.1);
  }
}
.rainColor {
  color: lightskyblue
}
.color1 {
  background: linear-gradient(to bottom, #ff9966, #fa4e51);
}

.color2 {
  background: linear-gradient(to top, #642b73, #c6426e);
}

.color3 {
  background: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
}

.color4 {
  background: linear-gradient(315deg, #e899dc 0%, #d387ab 74%);
}

.color5 {
  background: linear-gradient(279deg, #dfa87e 0%, #d38648 74%);
}

.color6 {
  background: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
}
.color7 {
  background: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
}

.color8 {
  background: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
}

.color9 {
  background: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
}

.color10 {
  background: linear-gradient(315deg, #90d5ec 0%, #fc575e 74%);
}

.card_input {
  @extend .input_text;
  border-radius: 10px;
  margin: 0;
}

