@use "var";
@use "mixin";

.forecast_section {
  flex-grow: 1;
  background-color: var.$darkBlue;
  padding: 0 30px;
  overflow-x: scroll;
  min-width: 250px;
}
// week section
.week_block {
  margin-top: 10px;
}
.week_title {
  margin: 10px 5px;
}
.week_forecast-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
}
.date {
  background-color: var.$reallylow_opacity;
  border-radius: 20px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 0px;
  min-height: 30px;
}

.date_title_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.date_icon-temp {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
}

.date_temp {
  width: 29px;
  text-align: end;
}


// hourly section

.hour_title {
  margin: 10px 0;
}
.hour_time {
  text-align: center;
  width: 50px;
}

.hourly_forecast-container {
  border-radius: 20px;
  padding: 20px 15px;
  padding-bottom: 0px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: var.$reallylow_opacity;
}

.hourForecastList {
  display: flex;
  overflow-x: scroll;
  flex-direction: row;
  gap: 30px;
  padding: 0 0 10px 0;
}
.hour_item {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
