$reallylow_opacity: rgba(255, 255, 255, 0.17);
$low_opacity: rgba(255, 255, 255, 0.30);
$lowMed_opacity: rgba(255, 255, 255, 0.40);
$opacity_50: rgba(255, 255, 255, 0.50);
$medHigh_opacity: rgba(255, 255, 255, 0.70);
$high_opacity: rgba(255, 255, 255, 0.88);
$full_opacity: #FFF;
$moodyWeatherType: red;

//theme 1
$darkBlue: #0A1040;
$slightDarkBlue: #131943;
$temp_TS: 1px 1px 17px rgba(255, 255, 255, 0.479);
$message_weatherType: rgb(160, 159, 159); // will become a map with many colors
//fontsize
$tinySize: 15px;
$normalSize: 20px;
$titleSize: 27px;
$bigSize: 52px;
$biggerSize: 140px;
$biggestSize: 223px;


